<section class="hero hero-decor">
  <div class="container hero__container">
    <div class="hero__left">
      <h2 class="hero__title">Digitally forward creative</h2>
      <p class="hero__subtitle text-p-subtitle">
        When it comes to interactive <br />
        marketing, we've got you covered. <br />
        Be where the world is going
      </p>
      <form class="hero__form">
        <input class="hero__input" type="email" placeholder="Enter your email" required />
        <button class="hero__btn button-form">Try for free</button>
      </form>
    </div>
    <div class="hero__right">
      <div class="hero__sales">
        <h3 class="hero__sales-title">Sales Report</h3>
        <img
          class="hero__sales-img"
          src="./assets/icons/sale-img.svg"
          width="366"
          height="260"
          alt="Sales report graphic"
        />
      </div>
      <div class="hero__customer">
        <h3 class="hero__customer-title">Customer Growth</h3>
        <img
          src="./assets/images/Graph.png"
          width="177"
          height="149"
          alt="Customer growth graphic"
        />
      </div>
      <table class="hero__stats">
        <thead class="hero__stats-head">
          <tr class="hero__stats-head-row">
            <th class="hero__stats-head-th">Sales</th>
            <th class="hero__stats-head-th">Marketing</th>
          </tr>
        </thead>
        <tbody class="hero__stats-body">
          <tr class="hero__stats-body-row">
            <td class="hero__stats-body-td">$31,092</td>
            <td class="hero__stats-body-td">$29,128</td>
          </tr>
          <tr class="hero__stats-body-row">
            <td class="hero__stats-body-td">
              <svg
                width="11"
                height="12"
                viewBox="0 0 11 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.79926 4.99536L5.55029 1.2464L9.29926 4.99743"
                  stroke="#60D39C"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M5.54781 10.2463L5.55029 1.24634"
                  stroke="#60D39C"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
              <span class="hero__stats-body-num hero__stats-body-num--green"> 4.2% </span>
              <span class="hero__stats-body-text">from last year</span>
            </td>
            <td class="hero__stats-body-td">
              <svg
                width="11"
                height="12"
                viewBox="0 0 11 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.83811 6.52843L5.55922 10.3071L9.33788 6.58599"
                  stroke="#E35454"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
                <path
                  d="M5.6284 1.30739L5.55933 10.3071"
                  stroke="#E35454"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
              <span class="hero__stats-body-num hero__stats-body-num--red"> 1.2% </span>
              <span class="hero__stats-body-text">from last year</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
