<section class="strench">
    <div class="container">
        <ul class="strench__list">
            <li class="strench__item">
                <p class="strench__item-text text-p-default">
                    <span class="strench__item-num">17k</span>
                    happy customers on worldwide
                </p>
            </li>
            <li class="strench__item">
                <p class="strench__item-text text-p-default">
                    <span class="strench__item-num">15+</span>
                    Hours of work experience
                </p>
            </li>
            <li class="strench__item">
                <p class="strench__item-text text-p-default">
                    <span class="strench__item-num">50+</span>
                    Creativity & passionate members
                </p>
            </li>
            <li class="strench__item">
                <p class="strench__item-text text-p-default">
                    <span class="strench__item-num">100+</span>
                    Integrations lorem ipsum integrations
                </p>
            </li>
        </ul>
        <div class="strench__img">
            <img src="./assets/images/Image.png" alt="">
            <div class="strench__blocks">
                <h2 class="strench__blocks-title heading-h2">Lift your business to new heights with our digit al
                    marketing services
                </h2>
                <p class="strench__blocks-desc">To build software that gives customer facing teams in small and
                    medium-sized businesses the ability to create rewarding and long-lasting relationships with
                    customers</p>
            </div>
        </div>
    </div>
</section>