<section class="testimonials">
    <div class="container testimonials__container">
        <div class="testimonials__head">
            <h2 class="testimonials__head-title heading-h2">
                What our customer are saying
            </h2>
            <p class="testimonials__head-text text-p-medium">We are trusted numerous companies from different business
                to meet their needs</p>
        </div>
        <div class="testimonials__slider-wrapper">
            <div class="swiper testimonials__slider">
                <div class="swiper-wrapper testimonials__comments">
                    <div class="swiper-slide testimonials__comment">
                        <div class="testimonials__rating">
                            <img loading="lazy" src="./assets/icons/rating.svg" width="132" height="20" alt="">
                            <span class="testimonials__rating-num text-p-default">5.0</span>
                        </div>
                        <p class="testimonials__comment-text heading-h3">
                            “With Agency the results are very satisfying. wrapped with Hight
                            quality and innovative design that makes a surge of visitors on my
                            website”
                        </p>
                        <address class="testimonials__comment-author">
                            <img loading="lazy" src="./assets/images/negr.jpg" alt="">
                            <div class="testimonials__comment-author-info">
                                <p class="testimonials__comment-author-name text-p-medium">
                                    Renee Wells
                                </p>
                                <p class="testimonials__comment-author-professions text-p-default">
                                    Product Designer, Quotient
                                </p>
                            </div>
                        </address>
                    </div>
                    <div class="swiper-slide testimonials__comment">
                        <div class="testimonials__rating">
                            <img loading="lazy" src="./assets/icons/rating.svg" width="132" height="20" alt="">
                            <span class="testimonials__rating-num text-p-default">5.0</span>
                        </div>
                        <p class="testimonials__comment-text heading-h3">
                            “With Agency the results are very satisfying. wrapped with Hight
                            quality and innovative design that makes a surge of visitors on my
                            website”
                        </p>
                        <address class="testimonials__comment-author">
                            <img loading="lazy" src="./assets/images/negr.jpg" alt="">
                            <div class="testimonials__comment-author-info">
                                <p class="testimonials__comment-author-name text-p-medium">
                                    Renee Wells
                                </p>
                                <p class="testimonials__comment-author-professions text-p-default">
                                    Product Designer, Quotient
                                </p>
                            </div>
                        </address>
                    </div>
                    <div class="swiper-slide testimonials__comment">
                        <div class="testimonials__rating">
                            <img loading="lazy" src="./assets/icons/rating.svg" width="132" height="20" alt="">
                            <span class="testimonials__rating-num text-p-default">5.0</span>
                        </div>
                        <p class="testimonials__comment-text heading-h3">
                            “With Agency the results are very satisfying. wrapped with Hight
                            quality and innovative design that makes a surge of visitors on my
                            website”
                        </p>
                        <address class="testimonials__comment-author">
                            <img loading="lazy" src="./assets/images/negr.jpg" alt="">
                            <div class="testimonials__comment-author-info">
                                <p class="testimonials__comment-author-name text-p-medium">
                                    Renee Wells
                                </p>
                                <p class="testimonials__comment-author-professions text-p-default">
                                    Product Designer, Quotient
                                </p>
                            </div>
                        </address>
                    </div>
                </div>
                <div class="testimonials__btns">
                    <button class="testimonials__btn testimonials__btn--prev">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.73659 15.0364C8.38512 15.3879 7.81527 15.3879 7.4638 15.0364L2.0638 9.63644C1.71233 9.28497 1.71233 8.71512 2.0638 8.36365L7.4638 2.96365C7.81527 2.61218 8.38512 2.61218 8.73659 2.96365C9.08806 3.31512 9.08806 3.88497 8.73659 4.23644L4.87299 8.10005L15.3002 8.10005C15.7973 8.10005 16.2002 8.50299 16.2002 9.00005C16.2002 9.4971 15.7973 9.90005 15.3002 9.90005L4.87299 9.90005L8.73659 13.7637C9.08806 14.1151 9.08806 14.685 8.73659 15.0364Z" fill="#CED1D8" />
</svg>
                    </button>
                    <button class="testimonials__btn testimonials__btn--next">
                        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M9.26341 2.96356C9.61488 2.61208 10.1847 2.61208 10.5362 2.96356L15.9362 8.36356C16.2877 8.71503 16.2877 9.28488 15.9362 9.63635L10.5362 15.0363C10.1847 15.3878 9.61488 15.3878 9.26341 15.0363C8.91194 14.6849 8.91194 14.115 9.26341 13.7636L13.127 9.89995L2.69981 9.89995C2.20275 9.89995 1.7998 9.49701 1.7998 8.99995C1.7998 8.5029 2.20275 8.09995 2.69981 8.09995H13.127L9.26341 4.23635C8.91194 3.88488 8.91194 3.31503 9.26341 2.96356Z"
                                fill="white" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>