<section class="active">
  <div class="container">
    <h1 class="active__title heading-h1">Activity & Updates</h1>
    <p class="active__subtitle text-p-subtitle">
      Our biggest challenge is making sure we're <br> 
      always designing and building products that <br>
      will help you run your business better.
    </p>
    <ul class="active__list">
      <li class="active__item">
        <a href="#" class="active__item-link active__item-link--popular">View all</a>
      </li>
      <li class="active__item">
        <a href="#" class="active__item-link">Design</a>
      </li>
      <li class="active__item">
        <a href="#" class="active__item-link">Articles</a>
      </li>
      <li class="active__item">
        <a href="#" class="active__item-link">Product</a>
      </li>
      <li class="active__item">
        <a href="#" class="active__item-link">Software Development</a>
      </li>
      <li class="active__item">
        <a href="#" class="active__item-link">Customer Success</a>
      </li>
    </ul>
    <div class="swiper active__slider">
            <div class="active__slider-btns">
                <svg width="28" height="18" viewBox="0 0 28 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M19.0001 2.33337L25.6667 9.00004L19.0001 15.6667M9.00008 15.6667L2.33341 9.00004L9.00008 2.33337"
                        stroke="#7E8492" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
            </div>
            <div class="swiper-wrapper">
                <div class="swiper-slide active__article">
                    <img class="active__article-img" loading="lazy" src="./assets/images/girl-front-laptop.png" alt="">
                    <div class="active__article-head">
                        <div class="active__article-date">
                            Published in Insight <time datetime="2021-01-30">Jan 30, 2021</time>
                        </div>
                        <address class="active__article-author">by : Albert Sans</address>
                    </div>
                    <h3 class="active__article-title heading-h5">Practice making User Flow</h3>
                    <p class="active__article-text">In this article, we'll cover how to create user flows</p>
                </div>
                <div class="swiper-slide active__article">
                    <img class="active__article-img" loading="lazy" src="./assets/images/girl-front-laptop-2.png" alt="">
                    <div class="active__article-head">
                        <div class="active__article-date">
                            Published in Insight <time datetime="2021-01-30">Jan 30, 2021</time>
                        </div>
                        <address class="active__article-author">by : Albert Sans</address>
                    </div>
                    <h3 class="active__article-title heading-h5">Overview of the Design Principles</h3>
                    <p class="active__article-text">In this article, we'll cover how to create user flows</p>
                </div>
                <div class="swiper-slide active__article">
                    <img class="active__article-img" loading="lazy" src="./assets/images/girl-front-laptop-3.png" alt="">
                    <div class="active__article-head">
                        <div class="active__article-date">
                            Published in Insight <time datetime="2021-01-30">Jan 30, 2021</time>
                        </div>
                        <address class="active__article-author">by : Albert Sans</address>
                    </div>
                    <h3 class="active__article-title heading-h5">Using Grid in website design</h3>
                    <p class="active__article-text">In this article, we'll cover how to create user flows</p>
                </div>
            </div>
        </div>
  </div>
</section>