.button {
  &-form {
    border-radius: 100px;
    padding: 16px 32px;
    width: 175px;
    height: 56px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    transition: var(--transition);

    &:hover {
      background: blue;
    }
  }
}
